{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %} 

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span area-hidden="true">x</span>
    </button>
    {{message}}
</div> 

{% endfor %}
{% endif %}
{% endwith %}

<!-- Manage Inventory -->
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Inventory</b> <button type="button" class="btn btn-success float-right"
                data-toggle="modal" data-target="#inventory_modal">Add Inventory Item</button></h2>

                <!-- Table of data records -->
                <table class="table table-hover table-dark">

                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>

                    {% for row in inventory_data %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.quantity}}</td>
                        <td>
                            <a href="/update_item/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#inventory_modaledit{{row.id}}">Edit</a>
                            <a href="/delete_item/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Delete Record?')">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Edit -->
                    <div id="inventory_modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update_item')}}" method="POST">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="name" value="{{row.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Quantity:</label>
                                            <input type="number" class="form-control" name="quantity" value="{{row.quantity}}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div> 

            <!-- Modal Add -->
            <div id="inventory_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert_item')}}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Quantity:</label>
                                    <input type="number" class="form-control" name="quantity" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Manage Warehouses-->
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Warehouses</b> <button type="button" class="btn btn-success float-right"
                data-toggle="modal" data-target="#warehouse_modal">Add Warehouse</button></h2>

                <!-- Table of data records -->
                <table class="table table-hover table-dark">

                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>

                    {% for row in warehouse_data %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>
                            <a href="/update_warehouse/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#warehouse_modaledit{{row.id}}">Edit</a>
                            <a href="/delete_warehouse/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Delete Record?')">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Edit -->
                    <div id="warehouse_modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update_warehouse')}}" method="POST">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="name" value="{{row.name}}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div> 

            <!-- Modal Add -->
            <div id="warehouse_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert_warehouse')}}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

